<!DOCTYPE html>
<html>
<head>
    <title>Encode Form Data</title>
</head>
<body>
    <h1>Encode Form Data</h1>
    <form action="/encode" method="post">
        <label for="step">Step:</label>
        <input type="text" id="step" name="step"><br><br>
        
        <label for="customer">Customer:</label>
        <input type="text" id="customer" name="customer"><br><br>
        
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>
        
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="1">Male</option>
            <option value="0">Female</option>
        </select><br><br>
        
        <label for="merchant">Merchant:</label>
        <input type="text" id="merchant" name="merchant"><br><br>
    
        <label for="category">Category:</label>
        <input type="text" id="category" name="category"><br><br>
        
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount"><br><br>
        
        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
    <h2>Prediction Result:</h2>
    <p>{{ prediction }}</p>
    {% endif %}
</body>
</html>
